 <%= render  "webpages/header" %>


    <!-- ***** Header Area End ***** -->

    <!-- ********** Hero Area Start ********** -->
    <div class="hero-area height-400 bg-img background-overlay" style="background-image: url(../img/blog-img/bg4.jpg);"></div>
    <!-- ********** Hero Area End ********** -->

    <section class="contact-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Contact Form Area -->
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="contact-form">
                        <h5>LOGIN</h5>
                        <!-- Contact Form -->
                        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="group">
                                        <%= f.email_field :email, hide_label: true, placeholder: "Email"%>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                     
                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="group">
                                         <%= f.password_field :password, hide_label: true, placeholder: "Password" %>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                       
                                        
                                    </div>
                                </div>

                                <div class="col-12 col-md-12" >
                                    <div class="group" style="text-align: left;margin: auto">
                                    
                                            <%= f.button :Submit, :class=>"btn world-btn"%><br><br>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 ">
                                        <div class="group" style="text-align: center;margin: auto">
                                <p class="txt-decoration"><span class="border1"> or login here from </span></p>
                                </div>
                                </div>
                                <div class="col-md-6">
                                     <div class="group hideOnMobile">
                                            <button type="button" class="btn" style="background: #dd4b39;width: 100%; padding: 10px">  <a  href=<%= user_google_oauth2_omniauth_authorize_path %>> <span style="color: #fff"> <i class="fa fa-google fa-lg" aria-hidden="true"  ></i> Google</span></button>
   
                                </div>
                                </div>
                                
                                <div class="col-12 col-md-6 ">
                                       <div class="group">
                                        <button type="button" class="btn" style="background: #3c5a99;width:100%;  padding: 10px"> <a  href=<%= user_facebook_omniauth_authorize_path %>> <span style="color: #fff"> <i class="fa fa-facebook fa-lg" aria-hidden="true" ></i> Facebook </span></button>

                                    </div>
                            </div>
                            </div>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </section>




















   
    <!-- ***** Footer Area Start ***** -->
    <%= render "webpages/footer" %>
    <!-- ***** Footer Area End ***** -->













<!--<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

-->
