<style type="text/css">
  html, .row {
    background: rgba(230, 230, 230, 1);
    background-color: rgba(230, 230, 230, 1);
  }
  
    /* Dash Navbar Top = dnt
  / -------------------------------------------------- */
  .dash-navbar-top {
    margin-bottom: 0;
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    line-height: 1;
  }
  .dash-navbar-top .nb-btn-toggle {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    color: #2A2D35;
    outline: 0;
  }
  
  .dash-navbar-top{
    /*background-color: #eff0f1 !important*/
    /*background-color: orange;*/
  }
  
  
  @media (min-width: 768px) {
    .dash-navbar-top.nb-visible .nb-btn-toggle {
      display: none;
    }
  }
  
  .navbar-toggle{
  
  }
  
  .dash-navbar-top .navbar-toggle {
    font-size: 24px;
    color: #d3d1dd;
    padding: 0 10px;
    margin-top: 14px;
    margin-right: 15px;
  }
  .dash-navbar-top .navbar-toggle:hover,
  .dash-navbar-top .navbar-toggle:focus {
    background-color: transparent;
  }
  
  .logo-text{
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 0;
  }
  
  body {
     background-color: #2A2D35;
  
  }
  /* Dash Navbar Left = nb
  / -------------------------------------------------- */
  .dash-navbar-left {
    position: absolute;
    background-color: #2A2D35;
    width: 250px;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    z-index: 999;
    padding-top: 5px;
    -webkit-transition: left 300ms;
    -o-transition: left 300ms;
    transition: left 300ms;
    height: 3000px;
  }
  .navbar-brand{
    display: block;
    /*background: #eff0f1 !important*/
    background: #eff0f1;
    width: 100%;
    color: #FFF;
    align-items: right;
    justify-content: center;
    text-transform: uppercase;
    margin: 0px;
    right: 10px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-top: 0px;
    border-top: 4px solid #f24C4E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  .navbar-brand:hover{
    color: #FFF;
  }
  .navbar .form-inline{
    margin-top: 12px;
  }
  .navbar .btn{
    background-color: #eff0f1 !important
    color: #FFF;
  }
  @media (max-width: 767px) {
    .logo-text{
      display: none;
    }
    .dash-navbar-left.nb-visible {
      left: -250px;
    }
    .dash-navbar-left.nb-visible.nb-show {
      left: 0;
    }
  }
  .dash-navbar-left.nb-hidden {
    left: -250px;
    /*display: none;*/
  }
  .dash-navbar-left.nb-hidden.nb-show {
    left: 0;
    /*display: inherit;*/
  }
  
  .dash-navbar-left .nb-nav-title {
    text-transform: uppercase;
    color: #7f799c;
    border-bottom: 1px solid rgba(255,152,0,0.1);
    padding: 10px 25px;
    font-size: 11px;
    letter-spacing: 1px;
    padding-top: 20px;
  }
  .dash-navbar-left .nb-nav {
    padding-left: 0;
    list-style: none;
  }
  .dash-navbar-left .nb-nav ul {
    padding-left: 0;
    list-style: none;
  }
  .dash-navbar-left .nb-nav li {
    position: relative;
  }
  .dash-navbar-left .nb-nav li a {
    display: block;
    outline: 0;
    padding: 8px 25px 7px;
    font-size: 13px;
    color: #b7b4c7;
  }
  .dash-navbar-left .nb-nav li a:hover,
  .dash-navbar-left .nb-nav li a:focus {
    color: #eeeeee;
    text-decoration: none;
    background-color: rgba(255,152,0,0.1);
    -webkit-box-shadow: inset 3px 0 0 #f24C4E;
    box-shadow: inset 3px 0 0 #f24C4E;
  }
  .dash-navbar-left .nb-nav li a:hover .badge,
  .dash-navbar-left .nb-nav li a:focus .badge {
    color: #EEE;
  }
  .dash-navbar-left .nb-nav li a > .nb-link-icon {
    padding-right: 8px;
  }
  .dash-navbar-left .nb-nav li a > .nb-btn-sub-collapse {
    position: absolute;
    right: 25px;
    top: 10px;
  }
  .dash-navbar-left .nb-nav li a > .badge {
    position: absolute;
    right: 24px;
    top: 6px;
    padding: 3px 10px;
    color: #a7a9ac;
    background-color: transparent;
    border: 1px solid #4f4a65;
  }
  .dash-navbar-left .nb-nav li a.collapsed .nb-btn-sub-collapse {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .dash-navbar-left .nb-nav li.active > a {
    background-color: rgba(255,152,0,0.1);
    -webkit-box-shadow: inset 3px 0 0 #f24C4E;
    box-shadow: inset 3px 0 0 #f24C4E;
  }
  .dash-navbar-left .nb-nav li .nb-sub-one {
    background-color: #15141b;
  }
  .dash-navbar-left .nb-nav li .nb-sub-one li {
    border-top: 1px solid #1c1b24;
  }
  .dash-navbar-left .nb-nav li .nb-sub-one li a {
    display: block;
    color: #a7a9ac;
  }
  .dash-navbar-left .nb-nav li .nb-sub-one li a:hover,
  .dash-navbar-left .nb-nav li .nb-sub-one li a:focus {
    color: #eeeeee;
    background-color: #1c1b24;
    -webkit-box-shadow: inset 3px 0 0 #1c1b24;
    box-shadow: inset 3px 0 0 #1c1b24;
  }
  .dash-navbar-left .nb-nav li .nb-sub-one li a > .nb-link-icon {
    padding-right: 8px;
  }
  .dash-navbar-left .nb-nav li .nb-sub-one li a > .badge {
    color: #a7a9ac;
    background-color: transparent;
    border: 1px solid #211f2a;
  }
  .dash-navbar-left .nb-nav li .nb-sub-one li.active > a {
    background-color: #1c1b24;
    -webkit-box-shadow: inset 3px 0 0 #1c1b24;
    box-shadow: inset 3px 0 0 #1c1b24;
  }
  .dash-navbar-left .nb-nav li .nb-sub-two {
    background-color: #211f2a;
  }
  .dash-navbar-left .nb-nav li .nb-sub-two li {
    border-top-color: 1px solid #282533;
  }
  .dash-navbar-left .nb-nav li .nb-sub-two li a {
    color: #a7a9ac;
  }
  .dash-navbar-left .nb-nav li .nb-sub-two li a:hover,
  .dash-navbar-left .nb-nav li .nb-sub-two li a:focus {
    color: #eeeeee;
    background-color: #282533;
    -webkit-box-shadow: inset 3px 0 0 #282533;
    box-shadow: inset 3px 0 0 #282533;
  }
  .dash-navbar-left .nb-nav li .nb-sub-two li a > .badge {
    color: #a7a9ac;
    background-color: transparent;
    border: 1px solid #211f2a;
  }
  .dash-navbar-left .nb-nav li .nb-sub-two li.active > a {
    background-color: #1c1b24;
    -webkit-box-shadow: inset 3px 0 0 #1c1b24;
    box-shadow: inset 3px 0 0 #1c1b24;
  }
  /* Content wrap
  / -------------------------------------------------- */
  .content-wrap {
    position: relative;
    margin-top:  0px; margin-bottom: 0px;
  }
  .content-wrap.nb-visible {
    margin-left: 250px;
  }
  
  #wrapperContainer{
        padding-left: 10px;
        padding-right: 10px;
    }
  
  
  @media (max-width: 767px) {
    #wrapperContainer{
        padding-left: 0px;
        padding-right: 0px;
    }
  }
  
  
  @media (max-width: 767px) {
    .content-wrap.nb-visible {
      margin-left: 0;
      -webkit-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms;
    }
    .content-wrap.nb-visible.nb-push {
      -webkit-transform: translate(250px, 0);
      -ms-transform: translate(250px, 0);
      -o-transform: translate(250px, 0);
      transform: translate(250px, 0);
    }
  }
  
  .content-wrap.nb-hidden {
    margin-left: 0;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }
  .content-wrap.nb-hidden.nb-push {
    margin-left: 250px;
  }
  
  @media (max-width: 767px) {
    .content-wrap.nb-hidden.nb-push {
      margin-left: 0;
      -webkit-transform: translate(250px, 0);
      -ms-transform: translate(250px, 0);
      -o-transform: translate(250px, 0);
      transform: translate(250px, 0);
    }
  }
  
  .content-wrap.content-opacity.nb-overlay,
  .content-wrap.content-opacity.nb-push {
    opacity: 0.3;
    filter: alpha(opacity=30);
  }
</style>
<nav class="navbar navbar-light bg-faded navbar-fixed-top sticky-top dash-navbar-top nb-visible" style="padding: 0px;">
  <a class="navbar-brand mr-auto" href="/" >
   
  </a>
  <button class="nb-btn-toggle">
    <span class="fa fa-bars"></span>
  </button>
</nav>
<!-- Dash Navbar Left -->
    <div class="dash-navbar-left nb-visible">

      <p class="nb-nav-title">Data</p>
      <ul class="nb-nav">
       

        <% if (controller_name == "users") %>
        <li class="active">
          <a class="" data-toggle="collapse" href="#categoriesNames" aria-expanded="true" aria-controls="collapseStatistics">
          <% else%>
          <li>
          <a class="" data-toggle="collapse" href="#categoriesNames" aria-expanded="true" aria-controls="collapseStatistics">
          <% end%>
            <span class="nb-link-text">Users</span>
            <span class="fa fa-angle-up nb-btn-sub-collapse"></span>
          </a> 
          <!-- Dropdown level one -->
            <ul class="nb-sub-one collapse show" id="categoriesNames">


            <li>
              <a href="<%= users_path %>">
                <span class="fa fa-clock-o nb-link-icon"></span>
                <span class="nb-link-text">All Users</span>
              </a>
            </li>


            <li>
              <a href=<%= admin_path%>>
                <span class="fa fa-history nb-link-icon"></span>
                <span class="nb-link-text">Admin</span>
              </a>
            </li>


            <li>
              <a href=<%= moderator_path%>>
                <span class="fa fa-history nb-link-icon"></span>
                <span class="nb-link-text">Moderator</span>
              </a>
            </li>

            <li>
              <a href=<%= userr_path%>>
                <span class="fa fa-history nb-link-icon"></span>
                <span class="nb-link-text">Users</span>
              </a>
            </li>


          </ul>
        </li> 

         <% if (controller_name == "questions") %>
          <li class="active">
          <a class="collapsed" data-toggle="collapse" href="#tagNames" aria-expanded="false" aria-controls="collapseStatistics">
          <%else%>
          <li>
          <a class="collapsed" data-toggle="collapse" href="#tagNames" aria-expanded="false" aria-controls="collapseStatistics">
          <%end%>
            <span class="nb-link-text">Questions</span>
            <span class="fa fa-angle-up nb-btn-sub-collapse"></span>
          </a> 
          <!-- Dropdown level one -->
            <ul class="nb-sub-one collapse" id="tagNames">


            <li>
              <a href=<%= questions_path%> >
                <span class="fa fa-clock-o nb-link-icon"></span>
                <span class="nb-link-text">All Questions</span>
              </a>
            </li>


            <li>
              <a href=<%= accepted_path  %>>
                <span class="fa fa-history nb-link-icon"></span>
                <span class="nb-link-text">Approved</span>
              </a>
            </li>

             <li>
              <a href=<%= question_pending_path  %>>
                <span class="fa fa-history nb-link-icon"></span>
                <span class="nb-link-text">Pending</span>
              </a>
            </li>

             <li>
              <a href=<%= question_rejected_path%>>
                <span class="fa fa-history nb-link-icon"></span>
                <span class="nb-link-text">Rejected</span>
              </a>
            </li>


          </ul>
        </li> 

           <% if (controller_name == "answers") %>
        <li class="active">
          <a class="collapsed" data-toggle="collapse" href="#tagAnswers" aria-expanded="false" aria-controls="collapseStatistics">
          <% else %>
          <li>
          <a class="collapsed" data-toggle="collapse" href="#tagAnswers" aria-expanded="false" aria-controls="collapseStatistics">
          <%end%>
            <span class="nb-link-text">Answers</span>
            <span class="fa fa-angle-up nb-btn-sub-collapse"></span>
          </a> 
          <!-- Dropdown level one -->
            <ul class="nb-sub-one collapse" id="tagAnswers">


            <li>
              <a href=<%= answers_path%>>
                <span class="fa fa-clock-o nb-link-icon"></span>
                <span class="nb-link-text">All Answers</span>
              </a>
            </li>


            <li>
              <a href=<%= approved_path %>>
                <span class="fa fa-history nb-link-icon"></span>
                <span class="nb-link-text">Approved</span>
              </a>
            </li>

             <li>
              <a href=<%= pending_path%>>
                <span class="fa fa-history nb-link-icon"></span>
                <span class="nb-link-text">Pending</span>
              </a>
            </li>

             <li>
              <a href=<%= rejected_path%>>
                <span class="fa fa-history nb-link-icon"></span>
                <span class="nb-link-text">Rejected</span>
              </a>
            </li>


          </ul>
        </li> 
        



        <!--<li>
          <a href=/carousels>
            <span class="nb-link-text">Home Page Images</span>
          </a>
        </li>


        <li>
          <a href=/testimonials>
            <span class="nb-link-text">Testimonials</span>
          </a>
        </li>-->




      </ul>

<!--       <p class="nb-nav-title">Reports</p>
      <ul class="nb-nav">
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-folder-open nb-link-icon"></span>
            <span class="nb-link-text">Daily Margin</span>
          </a>
        </li>
      </ul> -->

      <p class="nb-nav-title">Account</p>
      <ul class="nb-nav">
           <li>
            <a href=<%= edit_user_registration_path%>>
            <span class="fa fa-image nb-link-icon"></span>
            <span class="nb-link-text">Profile Settings</span>
          </a>
        </li>
        <li>
          <a href=<%= signout_path%>>
            <span class="fa fa-image nb-link-icon"></span>
            <span class="nb-link-text">Logout</span>
          </a>
        </li>
      </ul>



    </div> <!-- /.dash-navbar-left -->
<div class="content-wrap nb-visible" data-effect="nb-push" style="padding: 0px;">
  <div class="row" style="padding-top:15px; padding-bottom: 15px; margin: 0px;">
    <div class="container" id="wrapperContainer" style="min-height: calc(100vh);">
      <%= yield %>
    </div>
    <!-- End of your content -->
  </div>
  <!-- End of row div -->
</div>
<!-- /.content-wrap -->
<script type="text/javascript">
  (function(){
  "use strict";
  
  // Navbar left
  // -------------------------------------------------
  
    // Variables
      var nb                = $(".dash-navbar-left"),
          nbBtnToggle       = $(".nb-btn-toggle"),
          nbBtnCollapse     = $(".nb-btn-collapse"),
          contentWrap        = $(".content-wrap"),
          contentWrapEffect  = contentWrap.data("effect"),
          windowHeight       = $(window).height() - 61,
          windowWidth        = $(window).width() < 767;
  
    // Functions
      function cwShowOverflow() {
        if ( windowWidth ) {
            contentWrap.css({
            height : windowHeight ,
            overflow : 'hidden'
          });
          $( 'html, body' ).css( 'overflow', 'hidden' );
        }
      }
  
  
      function cwHideOverflow() {
        if ( windowWidth ) {
          contentWrap.css({
            height : 'auto' ,
            overflow : 'auto'
          });
          $( 'html, body' ).css( 'overflow', 'auto' );
        }
      }
  
      function nbShow() {
        nb.addClass("nb-show").removeClass("nb-hide");
        contentWrap.addClass(contentWrapEffect);
        cwShowOverflow();
        nbBtnToggle.find("span").removeClass("fa-bars").addClass("fa-arrow-left");
      }
  
      function nbHide() {
        nb.removeClass("nb-show").addClass("nb-hide");
        contentWrap.removeClass(contentWrapEffect);
        cwHideOverflow();
        nbBtnToggle.find("span").removeClass("fa-arrow-left").addClass("fa-bars");
      }
  
    // Toggle the edge navbar left
      nb.addClass("nb-hide");
      nbBtnToggle.click( function() {
        if( nb.hasClass("nb-hide") ) {
          nbShow();
        } else {
          nbHide();
        }
      });
  
    // Collapse the dash navbar left subnav
      nbBtnCollapse.click( function(e) {
        e.preventDefault();
        if( nb.hasClass("nb-collapsed") ) {
          nb.removeClass("nb-collapsed");
          contentWrap.removeClass("nb-collapsed");
          $(this).find(".nb-link-icon").removeClass("fa-arrow-right").addClass("fa-arrow-left");
        } else {
          nb.addClass("nb-collapsed");
          contentWrap.addClass("nb-collapsed");
          $(this).find(".nb-link-icon").removeClass("fa-arrow-left").addClass("fa-arrow-right");
        }
      });
  
    // Close left navbar when top navbar opens
      $( '.navbar-toggle' ).click( function() {
        if ( $( this ).hasClass( 'collapsed' ) ) {
          nbHide();
        }
      });
  
    // Close top navbar when left navbar opens
      nbBtnToggle.click( function() {
        $( '.navbar-toggle' ).addClass( 'collapsed' );
        $( '.navbar-collapse' ).removeClass( 'in' );
      });
  
    // Code credit: https://tr.im/CZzf4
      function isMobile() {
        try { document.createEvent("TouchEvent"); return true; }
        catch(e){ return false; }
      }
  
    // Swipe the navbar
      if ( isMobile() == true ) {
        $(window).swipe( {
          swipeRight:function() {
            nbShow();
            $( '.navbar-collapse' ).removeClass( 'in' );
          },
          swipeLeft:function() {
            nbHide();
          },
          threshold: 75
        });
      }
  
    // Collapse navbar on content click
      $( '.content-wrap' ).click( function() {
        nbHide();
      });
  
    // Auto collapse other opens subnavs
      /*$(".nb-nav > li > a").click( function() {
        $( document ).find( 'ul .in' ).collapse( 'hide' );
      });*/
  
  
  
  })();
</script>
